<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <WebPublishMethod>MSDeploy</WebPublishMethod>
        <PublishProvider>AzureWebSite</PublishProvider>
        <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>

        <!-- Your Azure Web Apps site URL -->
        <SiteUrlToLaunchAfterPublish>http://testwebapi-zido.azurewebsites.net</SiteUrlToLaunchAfterPublish>

        <!-- Launch the browser after publishing? -->
        <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>

        <!-- Exclude the App_Data folder? -->
        <ExcludeApp_Data>False</ExcludeApp_Data>

        <!-- Your Azure Web Apps site publish URL -->
        <MSDeployServiceURL>testwebapi-zido.scm.azurewebsites.net:443</MSDeployServiceURL>

        <!-- IIS application path (typicaly your site name) -->
        <DeployIisAppPath>TestWebApi-Zido</DeployIisAppPath>
        <RemoteSitePhysicalPath/>
        <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
        <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
        <EnableMSDeployBackup>True</EnableMSDeployBackup>
        <_SavePWD>True</_SavePWD>
        <_DestinationType>AzureWebSite</_DestinationType>
    </PropertyGroup>
</Project>